.editing {
  border: 2px solid red;
}

button {
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

*:focus {
  outline: none !important;
}

/* ENTER TRANSITION */

.slide-appear {
  transform: translateX(20%);
  opacity: 0;
}

.slide-appear.slide-appear-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms linear;
}

/* Declare transition start properties*/
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 3000ms linear;
}

/* EXIT TRANSITION */
.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit.slide-exit-active {
  transform: translateX(-100vw);
  opacity: 0;
  transition: all 300ms linear;
}


.slideIn-appear {
    transform: translateX(-20%);
    opacity: 0;
  }
  
  .slideIn-appear.slideIn-appear-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms linear;
  }
 
.btn-add-license{
  background-color: #9AC2FF !important;
  border-color: #9AC2FF !important;
}

.btn-add-license:hover{
  background-color: #5894C3 !important;
  border-color: #5894C3 !important;
}

.ant-modal-header{
  background: #9AC2FF !important;
}

.ant-modal-title{
  color:#fff !important;
}

.ant-modal{
  border-radius: 50% !important;
}