.editing {
  border: 2px solid red;
}

button {
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

*:focus {
  outline: none !important;
}

/* ENTER TRANSITION */

.slide-appear {
  transform: translateX(20%);
  opacity: 0;
}

.slide-appear.slide-appear-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms linear;
}

/* Declare transition start properties*/
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 3000ms linear;
}

/* EXIT TRANSITION */
.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit.slide-exit-active {
  transform: translateX(-100vw);
  opacity: 0;
  transition: all 300ms linear;
}


.slideIn-appear {
    transform: translateX(-20%);
    opacity: 0;
  }
  
  .slideIn-appear.slideIn-appear-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms linear;
  }
 
.btn-add-license{
  background-color: #9AC2FF !important;
  border-color: #9AC2FF !important;
}

.btn-add-license:hover{
  background-color: #5894C3 !important;
  border-color: #5894C3 !important;
}

.ant-modal-header{
  background: #9AC2FF !important;
}

.ant-modal-title{
  color:#fff !important;
}

.ant-modal-content{
  border-radius: 10px !important;
}

.ant-modal-header{
  background: #9AC2FF !important;
  border-radius: 10px 10px 0 0 !important;
  padding: 10px 24px !important;
}

.ant-modal{
  border-radius: 50% !important;
}

.bar-container {
  width: 100%;
  margin: 10px auto; 
}
.progressbar {
  counter-reset: step;
  margin-right:-57px;
  margin-left:-82px;
}
.progressbar li {
  list-style-type: none;
  width: 50%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #7d7d7d;
  margin-bottom:2rem;
}
.progressbar li:before {
  width: 1.5rem;
  height: 1.56rem;
  content: "";
  line-height: 30px;
  border: 2px solid #757575;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background: #757575;
  top: 0.7rem;
  left: -50%;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: black;
}
.progressbar li.active:before {
  border-color: #55b776;
  background-color: #55b776;
}